.apply-body-content{
    width: 50%;
    background-color: rgba(30, 144, 255, 1);
    background-image: url(../images/applybg.png);
    background-blend-mode: overlay;
    background-size: cover;
}
.proxy-img>img{
    width: 178px;
    height: 180px;
}
.intro1{
font-weight: 700 !important;
font-size: 25px;
font-family: var(--ff-poppins);

}
.intro2{
    font-weight: 700 !important;
    font-size: 25px;
    margin-top: -12px;
    font-family: var(--ff-poppins);
    
    }
.intro2::after{
    display: block;
    content: '';
    bottom: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 295px;
    height: 1px;
    background: #fff;
}
.intro3{
    font-weight: 600 !important;
    font-size: 18px;
    font-family: var(--ff-poppins);
}

.form{
    background-color: rgba(255, 255, 255, 1);
    width: 50%;
    
}

.form-header h1{
    font-family: var(--ff-poppins);
    font-size: 29px;
    font-weight: 600 !important;
}
.breadcrumb-item{
    font-family: var(--ff-poppins);
    font-weight: 500 !important;
    font-size: 20px;
}

.form-header p{
    font-family: var(--ff-poppins);
    font-size: 21px;
    font-weight: 500 !important;
}
.info-label{
    font-size: 13px;
    font-weight: 500 !important;
    font-family: var(--ff-open-sans);
}
.info-input{
    font-size: 12px !important;
    font-weight: 400 !important;
    background-color: rgba(232, 231, 231, 1) !important;
    font-family: var(--ff-open-sans);
    height: 40px;
}
.info-select{
    font-size: 13px !important;
    font-weight: 400 !important;
    background-color: rgba(232, 231, 231, 1) !important;
    height: 40px;
}
.info-select:focus{
    box-shadow: none !important;
    border: none !important;
}
::placeholder {
    font-size: 12px !important;
    font-weight: 400 !important;    
    font-family: var(--ff-open-sans);
    
}
.info-input:focus{
    box-shadow: none !important;
}
.info-span{
    font-size: 13;
    font-weight: 500 !important;
    font-family: var(--ff-open-sans);

}
.error-span{
    height: 1.2rem;
    font-size: 13;

}
@media screen and (max-width:991px) {
   
    .form{
        width: 100%;
    }
    
}

